In [22]:
#Laboratorio 6

# Isabel Ortíz 18176

In [23]:
%reload_ext sql

In [24]:
%sql sqlite:///lab6.db

'Connected: @lab6.db'

In [25]:
%sql pragma foreign_keys = on;

 * sqlite:///lab6.db
Done.

[]

In [26]:
%%sql 
DROP TABLE IF EXISTS empleado;
DROP TABLE IF EXISTS jefe;
DROP TABLE IF EXISTS aplicación;
DROP TABLE IF EXISTS cliente;
DROP TABLE IF EXISTS tienda;
DROP TABLE IF EXISTS gasolinera;
DROP TABLE IF EXISTS pais;
DROP TABLE IF EXISTS tienda;

 * sqlite:///lab6.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [40]:
%%sql 

DROP TABLE IF EXISTS empleado;
DROP TABLE IF EXISTS jefe;
DROP TABLE IF EXISTS aplicacion;
DROP TABLE IF EXISTS cliente;
DROP TABLE IF EXISTS tienda;
DROP TABLE IF EXISTS gasolinera;
DROP TABLE IF EXISTS pais;

CREATE TABLE cliente(
    nombre VARCHAR (30),
    nit VARCHAR (30) PRIMARY KEY,
    fecha VARCHAR (30),
    apellido VARCHAR (30),
    historial VARCHAR (30),
    comp VARCHAR (30),
    FOREIGN KEY (comp) REFERENCES gasolinera(compra)
);

CREATE TABLE empleado(
    turno VARCHAR (30),
    contraseña VARCHAR (30) PRIMARY KEY,
    usuario  VARCHAR (30),
    nombre VARCHAR (30),
    apellido VARCHAR (30),
    ing VARCHAR (30),
    FOREIGN KEY (ing) REFERENCES jefe(ingreso)
);

CREATE TABLE aplicacion(
    nombre VARCHAR (30),
    nit VARCHAR (30) PRIMARY KEY,
    fecha VARCHAR (30),
    apellido VARCHAR (30),
    historial VARCHAR (30),
    ing VARCHAR (30),
    FOREIGN KEY (ing) REFERENCES jefe(ingreso)
);

CREATE TABLE jefe(
    id VARCHAR (30) PRIMARY KEY,
    nombre VARCHAR (30),
    apellido VARCHAR (30),
    con VARCHAR (30),
    FOREIGN KEY (con) REFERENCES empleado(contiene)
);

CREATE TABLE tienda(
    id VARCHAR (30) PRIMARY KEY,
    tamaño VARCHAR (30),
    com VARCHAR (30),
    FOREIGN KEY (com) REFERENCES gasolinera(compra)
);

CREATE TABLE gasolinera(
    nombre VARCHAR (30),
    id VARCHAR (30) PRIMARY KEY,
    direccion VARCHAR (30),
    ubi VARCHAR (30),
    FOREIGN KEY (ubi) REFERENCES pais(ubicacion)
);

CREATE TABLE pais(
    id VARCHAR (30) PRIMARY KEY,
    nombre VARCHAR (30),
    moneda VARCHAR (30),
    ubi VARCHAR (30),
    FOREIGN KEY (ubi) REFERENCES pais(ubicacion)    
);

 * sqlite:///lab6.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]